@font-face {
  font-family: "iconfont"; /* Project id 3978609 */
  src: url('iconfont.woff2?t=1679888286433') format('woff2'),
       url('iconfont.woff?t=1679888286433') format('woff'),
       url('iconfont.ttf?t=1679888286433') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e600";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-github:before {
  content: "\e63a";
}

.icon-zhihu:before {
  content: "\e64b";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-kuaishou:before {
  content: "\e8dc";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-qq:before {
  content: "\e680";
}

